/* * { margin: 0; padding: 0; } */
/* p { color: red; } */
h1, .textright { text-align: right; }

.bluetext { color: blue; }
.bold { font-weight: bold; }

#p_1 { text-align: center; }

.c1 { color: blue; }
.c2 { color: red; }