* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafc;
  margin: 0;
}

.header {
  background: #fbc85b;
  background: linear-gradient(135deg, #fbc85b 0%, #f18575 100%);
  height: 180px;
}

.blue {
  background-color: #5195ee;
  color: #f9fafc;
  padding: 24px;
  width: 100%;
  position: sticky;
  top: 0;
}

.main {
  margin: 60px;
}

.main > div {
  border: 1px solid black;
}

.skeleton {
  width: 100%;
  margin: 48px 0;
}
