/* aside style sheet */
aside button { right: 3vw; }

/* header style sheet */
header { padding: 0 3vw; height: 3.25rem; gap: 0; }
header #logo_img {display: none !important;}
header #logo_img_mini {display: block !important;}

header .main_menu { flex-direction: row-reverse; }
header .main_menu nav { display: none !important; }

header .main_menu .main_icon button .fa-bars { display: block; }

header .main_menu .main_icon button:first-child { padding-right: 3.65vw; }
header .main_menu .main_icon button .fa-cart-shopping { padding-right: 3.65vw; }
header .main_menu .main_icon button .header_xBtn { 
    width: 30px; 
    height: 30px; 
    top: -5px;
    left: -5px;
}
header.scrolled {height: 3.375rem; }


/* search_bar style sheet */
#search_bar { height: 3.375rem; padding: 0 3vw}
#search_bar input { font-size: 1.5rem; }
#search_bar button i { font-size: 1.5rem; }

/* section Cart style sheet */
#cart { width: 100vw; right: -100vw; }
.cart_active { transform: translateX(-100vw); }

#cart_title { padding: 4vw; }

#cart_list { padding: 4vw; gap: 1rem; }
#cart_list img { width: 100%; }
#cart_list_btn { height: 2rem;  }
#cart_buy { padding: 4vw; }


/* mobile_menu */
#mobile_menu {
    height: 100vh;
    width: 100%;
    background-color: #fafaf8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    right: -100vw;
    transition: all .35s ease-in-out;
    padding: 4rem 3vw 3vw 3vw;
}
.mobile_menu_active { transform: translateX(-100vw); }
.mobile_nav a {
    display: block;
    font-size: 2.25rem;
    letter-spacing: -2px;
    font-weight: 500;
}
.mobile_service a { 
    display: block;
    font-size: 1.5rem;
    letter-spacing: -1.2px;
    font-weight: 500;
}
.mobile_nav a span,
.mobile_service a span { display:inline-block; text-transform:uppercase; }

.mobile_nav a span::after,
.mobile_service a span::after { 
    display:block;
    content: '';
    border-bottom: solid 2px #262626;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.mobile_nav a:hover span::after,
.mobile_service a:hover span::after{ 
    transform: scaleX(1); 
    transform-origin:  0% 50%;
}
/* main */
/* main_con style sheet */
#main_con { 
    padding: 6rem 11.5vw 4rem; 
    background-image: url(../img/main/main-mobile-bg.jpg);
    background-position: right;
}
main .title_row > span, 
main .title_row a { display: none; }

main .main_title_text { font-size: 19vw;  letter-spacing: -1.6vw;}
main #to { -webkit-text-stroke: 1px black; }

main #shape { float: right; }

main #main_png { 
    left: 14%;
    top: 33%;
    width: 25vw; 
}

main #title_mobile { 
    color: #595959;
    display: block;
    font-size: 2vw; 
    font-weight: 500;
    letter-spacing: -0.05vw;
    padding-top: 2rem;
}


/* con1 style sheet*/
#con1 p { 
    font-size: 1.5rem; 
    letter-spacing: -1.4px;
    padding: 7rem 0; 
}


/* con2 style sheet*/
#con2 { height: 50.5rem; overflow: hidden; padding: 4rem 3vw; }

#con2_img_wrapper { height: 100%; width: 100%; }
.con2_img_silde img { object-fit: cover; object-position: bottom; width: 100%; }

#con2_img_1,
#con2_img_3,
#con2_img_4,
#con2_img_5,
#con2 button p,
#con2 button img,
#con2_slogan h2
{ display: none; }


#con2_img_2 {     
    height: 43.5rem;
    left: auto;
    position: static;
    right: auto;
    top: auto;
    width: 91vw;
}
#con2_productNm {
    display: none;
    height: 5rem;
    left: auto;
    overflow: hidden;
    top: auto;
    width: 12rem;
}
#con2_productNm a { font-size: 2rem; transform: none; top: auto; }


/* con3 : product - style sheet */
#con3 { 
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr;
    margin: 4rem 12.5vw; 
}
#con3_text {
    display: flex;
    flex-direction: column;
    padding-left: 36vw;
}
#con3_text h1 { font-size: 2.25rem; letter-spacing: -2.1px; padding-right: 0; }
#con3_text ul li { font-size: 1.125rem; margin-top: 0.75rem; }

.con3_product { grid-template-columns: none; }
#con3_product_right { display: none; }

.con3_product .con3_desc { gap: 0.5rem; margin: 0 0 5.25vw 0; }
.con3_desc #con3_name_left { font-size: 1.125rem; }
.con3_desc #con3_price_left { letter-spacing: -0.25px }


/* con4 : recommend - style sheet */
#con4 {
    background-color: rgb(236, 232, 222);
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    padding-top: 4rem;
}
.con4_art h2 { 
    font-size: 2rem;
    letter-spacing: -1.8px; 
    padding-bottom: 3rem;
}
.con4_art p { 
    -webkit-line-clamp: 2;
    font-size: 1rem; 
    letter-spacing: -0.8px;
}
.con4_art button { height: 3rem; margin-bottom: 4rem; width: 15rem; }
.con4_art button:hover { background-color: #f9f8f2; }

#con4_art_1 { padding-right: 12.5vw; }
#con4_art_1 h2, 
#con4_art_1 p, 
#con4_art_1 button { margin-left: 12.5vw; }

#con4_art_2 h2 { margin-left: 25vw; }
#con4_art_2 p, 
#con4_art_2 button { 
    margin-left: 16.5vw;
    margin-right: 12.5vw; 
}
#con4_art_2 img { margin-bottom: 3rem; margin-left: 12.5vw; }


/* con5 : new arrival - style sheet */
#con5 { 
    display: block;
    margin-bottom: 0; 
    padding: 4rem 0; 
}
.con5_img_wrapper { display: none; }

#con5_text h2 { font-size: 2.5rem; letter-spacing: -2.1px; padding-bottom: 3rem;}

#con5 #con5_text {  margin-left: 12vw; margin-right: 10vw; }
#con5 ul li { font-size: 1.25rem; padding-top: 0.8rem; }
#con5 ul li a {  padding-right: 2vw; }
#con5 ul li small { font-size: 0.75em; }


/* con6 : let light~ - style sheet */
#con6 { display: block; grid-template-columns: none; }

#con6 div { width: 100vw;}
#con6 h2 { 
    font-size: 2.5rem; 
    padding-top: 3rem; 
    padding-left: 3vw;
    text-align: left; 
}


/* con7 : store - style sheet */
#con7 {
    gap: 1rem;
    grid-template-columns: none;
    margin-bottom: 4rem;
    padding: 0 3vw;
}
#con7 #con7_store { font-size: 4rem; }


/* con8 : designer - styler sheet */
#con8 { 
    gap: 2.6vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(3, 1fr) auto;
    padding: 0 3vw;
    margin-bottom: 4rem;
}
#con8 h3 { grid-column: 1 / 3; padding-bottom: 2rem; }
#con8 h3 br { display: none; }

#con8_more { grid-column: 1 / 3; }
#con8_more img { margin-top: 0.75rem; opacity: 1; width: 20%; }
#con8 .con8_designers img { height: 45vw; }


/* con9 video wrapper - style sheet */
#con9 video { width: 150vw; }
#con9_title img { width: 54%; }
#con9_article_wrap { grid-template-columns: repeat(2, 1fr); }

#con9_article_wrap > div { padding: 3vw; }
#con9_article_wrap > div:last-child { display: none; }
#con9_article_wrap > div:not(:first-child) { border-right: none; }

#con9_article_wrap div img { margin-bottom: 1.25rem; }
#con9_article_wrap div h2 { margin-bottom: 1.25rem; }
#con9 .con9_art_contents { padding-bottom: 2.25rem; }

#con9_article_wrap div #con9_more { top: 75%; }
#con9_article_wrap div:hover #con9_more{ top: 75%; }


/* con10-news style sheet */
#con10 h2 { margin: 2rem 3vw 1.5rem; }
#con10 .post_row a {
    grid-template-columns: 1.2fr 1fr 0.2fr;
    height: 3.375rem;
    margin: 0 3vw;
}
#con10 .post_row a span:first-child { display: none; }
#con10 .post_row a h3 { font-size: 1rem; }
#con10 .post_row a span { font-size: 0.75rem; }


/* footer style sheet */
footer #f_row_top {
    gap: 4rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    padding: 4rem 3vw 3rem;
}
footer #footer_links h3 { font-size: 1rem; }
footer #footer_links li { font-size: 0.75rem; }

#f_row_top #newsletter { padding-right: 0; order: 1;}
#newsletter > h1 { font-size: 2.25rem; padding-bottom: 1rem; }

footer #f_low_bottom {
    align-items: baseline;
    border-top: none;
    flex-direction: column;
    padding: 0;
}
#f_small { padding-left: 3vw; }
#f_low_bottom > span {
    border-top: 1px solid #b5b5b5;
    font-size: 7.8vw;
    margin-top: 3rem;
    padding: 1rem 0;
    text-align: center;
    width: 100vw;
}